<div class="jumbotron">
  <h2>The Finest Crypto Management Tool Ever.</h2>
  <p>Immerse yourself with control - Arthur</p>
  <p><a class="btn btn-default btn-lg" href="#" role="button">Learn more</a></p>
</div>
